html {
    font: 18px Helvetica, sans-serif;
    background-color: #bbc3cb;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Futura;
    letter-spacing: 0.25em;
    font-size: 300%;
}

p {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

button {
    padding: 0.5em;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 12.5%;
    color: #333;
    font-size: 50%;
    cursor: pointer;
}

button:hover {
    border: 1px solid #ccc;
}

/*
 *
 * PROGRESS BAR
 *
 */

#jspsych-progressbar-container {
    border-bottom: 2px solid #dedede;
    background-color: #f3f3f3;
    margin-bottom: 1em;
    text-align: center;
    padding: 10px 0px;
}

#jspsych-progressbar-outer {
    background-color: #dedede;
    border-radius: 5px;
    padding: 1px;
    width: 800px;
    margin: auto;
}

#jspsych-progressbar-inner {
    background-color: #aaa;
    width: 0%;
    height: 1em;
    border-radius: 5px;
}


/*
 *
 * PLAYER
 *
 */

* {
  box-sizing: border-box;
}

.player {
  margin: 0 auto; 
  width: 50%;
}

.track {
  position: relative;
  width: 100%;
  height: 5em; 
  border: 5px solid black;
  display: inline-block;
}

.progress {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #f00;
}



/*
 *
 * NATIVE ELEMENTS 
 *
 */

.parent {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.child {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}

.jspsych-categorize-stimulus {
    vertical-align: middle
}

.stimuli { 
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    font-size: 500%;
}

#responded_correct {
   background-color: green;
   color: white;
}

#responded_wrong {
   background-color: red;
   color: white;
}

#responded {
   background-color: gray;
   color: white;
}

.score {
   bottom: 5%;
   font-size: 500%;
   color: pink;
}
